*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e9cfd3;
}

#panel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    
}

#panelTop{
    width: 100%;
    height: 100px;
    background-color: #fc9bab;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30%;
}

.element{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #fff;
    color:#b14557;
    border-radius: 15px;
}

#pbtm{
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    /* background-color: #000;
    color: #fff; */
    margin-bottom: 5px;
}

.bubble{
    margin: 10px;
    width: 35px;
    height: 35px;
    background-color:#be5768;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight:500;
}

.bubble:hover{
    background-color: #852c3b;
}

#gameOver{
    color: #be5768;
    font-weight: 900;
    font-size: 55px;
    margin-left: 30%;
}
#pbtm{
    align-items: center;
}
#newGame{
    background-color: #be5768;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 25px;
    margin: 15px;
    border-radius: 5px;
    border: none;
}

#newGame:hover{
    background-color: #852c3b;
    cursor: pointer;
}